.alert-info,
.settings-view .alert-info,
.alert-warning,
.settings-view .alert-warning,
.alert-error,
.settings-view .alert-error,
.alert-success,
.settings-view .alert-success,
.alert-danger,
.settings-view .alert-danger {
  border: none;
  background-color: hsla(220, 10%, 87%, 0.02);
}
.alert-info,
.settings-view .alert-info {
  color: hsla(220, 25%, 42%, 0.75);
}
.alert-warning,
.settings-view .alert-warning {
  color: hsla(330, 40%, 49%, 0.65);
}
.alert-error,
.settings-view .alert-error,
.alert-danger,
.settings-view .alert-danger {
  color: hsla(345, 40%, 50%, 0.8);
}
.alert-success,
.settings-view .alert-success {
  color: hsla(175, 58%, 37%, 0.6);
}
background-tips ul.background-message {
  color: hsla(220, 10%, 87%, 0.2);
  font-weight: 200;
}
ul.background-message {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
}
atom-notifications {
  top: unset;
  right: 0;
  bottom: unset;
  height: 85vh;
  display: flex;
  padding: 0 !important;
  margin: auto 0;
  position: fixed;
  flex-flow: column-reverse nowrap;
  font-size: unset;
  overflow-y: hidden;
  box-sizing: content-box;
  transition: 2s linear all;
  justify-content: center;
  align-items: center;
}
atom-notifications atom-notification {
  top: unset;
  clear: unset;
  float: unset;
  width: unset;
  margin: 0.5em 0 0 0;
  padding: 0 0 0 1em;
  overflow: hidden;
  position: relative;
  flex-basis: 2.5vh;
  transition: 2s linear all 1.2s, 1s linear translate 4s;
  color: hsl(220, 1%, 97%);
  max-height: min-content;
  will-change: height, opacity;
}
atom-notifications atom-notification:hover {
  flex-grow: 1;
  flex-shrink: 0.001;
  opacity: 1;
  filter: brightness(1.2);
  transition: 2s linear all 1.2s, 1s linear translate 4s;
}
atom-notifications atom-notification:hover .content,
atom-notifications atom-notification:hover .message,
atom-notifications atom-notification:hover .detail,
atom-notifications atom-notification:hover .meta {
  transition: 1s ease all 1.2s, 1s ease height 1.2s;
  will-change: height, opacity, scale, translate;
}
atom-notifications atom-notification:hover .message {
  max-height: fit-content;
  max-width: 100%;
}
atom-notifications atom-notification:hover .detail .detail-content {
  scale: 1 1;
  opacity: 1;
  translate: 0 -10%;
}
atom-notifications atom-notification:hover .meta {
  scale: 1 1;
  opacity: 1;
  translate: 0 -10%;
}
atom-notifications atom-notification:not(:hover) {
  flex-grow: 0.001;
  flex-shrink: 1;
  opacity: 0.7;
  color: hsl(220, 1%, 97%);
  transition: 2s linear all 3s, 0.5s linear translate 3s;
}
atom-notifications atom-notification:not(:hover) .content,
atom-notifications atom-notification:not(:hover) .message,
atom-notifications atom-notification:not(:hover) .detail,
atom-notifications atom-notification:not(:hover) .meta {
  transition: 1s ease all 3s, 1s ease height 3s;
  will-change: height, opacity, scale, translate;
}
atom-notifications atom-notification:not(:hover) .close-icon {
  opacity: 0;
}
atom-notifications atom-notification:not(:hover) .content {
  max-width: 15vw;
}
atom-notifications atom-notification:not(:hover) .message {
  max-height: 5em;
  max-width: 15vw;
}
atom-notifications atom-notification:not(:hover) .detail .detail-content {
  scale: 1 0;
  translate: 0 -10%;
}
atom-notifications atom-notification:not(:hover) .meta {
  scale: 1 0;
  translate: 0 -10%;
}
atom-notifications:hover atom-notification,
atom-notifications:focus atom-notification {
  flex-grow: 1;
  flex-shrink: 0.001;
  opacity: 1;
  filter: brightness(1.2);
  transition: 2s linear all 1.2s, 1s linear translate 4s;
}
atom-notifications:hover atom-notification .content,
atom-notifications:focus atom-notification .content,
atom-notifications:hover atom-notification .message,
atom-notifications:focus atom-notification .message,
atom-notifications:hover atom-notification .detail,
atom-notifications:focus atom-notification .detail,
atom-notifications:hover atom-notification .meta,
atom-notifications:focus atom-notification .meta {
  transition: 1s ease all 1.2s, 1s ease height 1.2s;
  will-change: height, opacity, scale, translate;
}
atom-notifications:hover atom-notification:hover,
atom-notifications:focus atom-notification:hover {
  flex-grow: 1;
  flex-shrink: 0.001;
  opacity: 1;
  filter: brightness(1.2);
  transition: 2s linear all 1.2s, 1s linear translate 4s;
}
atom-notifications:hover atom-notification:hover .content,
atom-notifications:focus atom-notification:hover .content,
atom-notifications:hover atom-notification:hover .message,
atom-notifications:focus atom-notification:hover .message,
atom-notifications:hover atom-notification:hover .detail,
atom-notifications:focus atom-notification:hover .detail,
atom-notifications:hover atom-notification:hover .meta,
atom-notifications:focus atom-notification:hover .meta {
  transition: 1s ease all 1.2s, 1s ease height 1.2s;
  will-change: height, opacity, scale, translate;
}
atom-notifications:hover atom-notification:hover .message,
atom-notifications:focus atom-notification:hover .message {
  max-height: fit-content;
  max-width: 100%;
}
atom-notifications:hover atom-notification:hover .detail .detail-content,
atom-notifications:focus atom-notification:hover .detail .detail-content {
  scale: 1 1;
  opacity: 1;
  translate: 0 -10%;
}
atom-notifications:hover atom-notification:hover .meta .detail-content,
atom-notifications:focus atom-notification:hover .meta .detail-content {
  scale: 1 1;
  opacity: 1;
  translate: 0 -10%;
}
atom-notifications:hover atom-notification:not(:hover),
atom-notifications:focus atom-notification:not(:hover) {
  flex-grow: 0.001;
  flex-shrink: 1;
  opacity: 0.7;
  color: hsl(220, 1%, 97%);
  transition: 2s linear all 3s, 0.5s linear translate 3s;
}
atom-notifications:hover atom-notification:not(:hover) .content,
atom-notifications:focus atom-notification:not(:hover) .content,
atom-notifications:hover atom-notification:not(:hover) .message,
atom-notifications:focus atom-notification:not(:hover) .message,
atom-notifications:hover atom-notification:not(:hover) .detail,
atom-notifications:focus atom-notification:not(:hover) .detail,
atom-notifications:hover atom-notification:not(:hover) .meta,
atom-notifications:focus atom-notification:not(:hover) .meta {
  transition: 1s ease all 3s, 1s ease height 3s;
  will-change: height, opacity, scale, translate;
}
atom-notifications:hover atom-notification:not(:hover) .close-icon,
atom-notifications:focus atom-notification:not(:hover) .close-icon {
  opacity: 0;
}
atom-notifications:hover atom-notification:not(:hover) .content,
atom-notifications:focus atom-notification:not(:hover) .content {
  max-width: 15vw;
}
atom-notifications:hover atom-notification:not(:hover) .message,
atom-notifications:focus atom-notification:not(:hover) .message {
  max-height: 5em;
  max-width: 15vw;
}
atom-notifications:hover atom-notification:not(:hover) .detail .detail-content,
atom-notifications:focus atom-notification:not(:hover) .detail .detail-content {
  scale: 1 0;
  translate: 0 -10%;
}
atom-notifications:hover atom-notification:not(:hover) .meta,
atom-notifications:focus atom-notification:not(:hover) .meta {
  scale: 1 0;
  translate: 0 -10%;
}
atom-notifications:not(:hover) atom-notification {
  flex-grow: 0.001;
  flex-shrink: 1;
  opacity: 0.7;
  color: hsl(220, 1%, 97%);
  transition: 2s linear all 3s, 0.5s linear translate 3s;
}
atom-notifications:not(:hover) atom-notification .content,
atom-notifications:not(:hover) atom-notification .message,
atom-notifications:not(:hover) atom-notification .detail,
atom-notifications:not(:hover) atom-notification .meta {
  transition: 1s ease all 3s, 1s ease height 3s;
  will-change: height, opacity, scale, translate;
}
atom-notifications:not(:hover) atom-notification .close-icon {
  opacity: 0;
}
atom-notifications:not(:hover) atom-notification .content {
  max-width: 15vw;
}
atom-notifications:not(:hover) atom-notification:hover {
  flex-grow: 1;
  flex-shrink: 0.001;
  opacity: 1;
  filter: brightness(1.2);
  transition: 2s linear all 1.2s, 1s linear translate 4s;
}
atom-notifications:not(:hover) atom-notification:hover .content,
atom-notifications:not(:hover) atom-notification:hover .message,
atom-notifications:not(:hover) atom-notification:hover .detail,
atom-notifications:not(:hover) atom-notification:hover .meta {
  transition: 1s ease all 1.2s, 1s ease height 1.2s;
  will-change: height, opacity, scale, translate;
}
atom-notifications:not(:hover) atom-notification:hover .message {
  max-height: fit-content;
  max-width: 100%;
}
atom-notifications:not(:hover) atom-notification:hover .detail .detail-content {
  scale: 1 1;
  opacity: 1;
  translate: 0 -10%;
}
atom-notifications:not(:hover) atom-notification:hover .meta {
  scale: 1 1;
  opacity: 1;
  translate: 0 -10%;
}
atom-notifications:not(:hover) atom-notification:not(:hover) {
  flex-grow: 0.001;
  flex-shrink: 1;
  opacity: 0.7;
  color: hsl(220, 1%, 97%);
  transition: 2s linear all 3s, 0.5s linear translate 3s;
}
atom-notifications:not(:hover) atom-notification:not(:hover) .content,
atom-notifications:not(:hover) atom-notification:not(:hover) .message,
atom-notifications:not(:hover) atom-notification:not(:hover) .detail,
atom-notifications:not(:hover) atom-notification:not(:hover) .meta {
  transition: 1s ease all 3s, 1s ease height 3s;
  will-change: height, opacity, scale, translate;
}
atom-notifications:not(:hover) atom-notification:not(:hover) .close-icon {
  opacity: 0;
}
atom-notifications:not(:hover) atom-notification:not(:hover) .content {
  max-width: 15vw;
}
atom-notifications:not(:hover) atom-notification:not(:hover) .message {
  max-height: 5em;
  max-width: 15vw;
}
atom-notifications:not(:hover) atom-notification:not(:hover) .detail .detail-content {
  scale: 1 0;
  translate: 0 -10%;
}
atom-notifications:not(:hover) atom-notification:not(:hover) .meta {
  scale: 1 0;
  translate: 0 -10%;
}
atom-notifications atom-notification {
  background-color: hsla(208, 10%, 5%, 0.5);
  border-radius: 0.5em;
  filter: drop-shadow(0 0 0.001 black);
  z-index: 500;
}
atom-notifications atom-notification,
atom-notifications atom-notification.error,
atom-notifications atom-notification.fatal,
atom-notifications atom-notification.info,
atom-notifications atom-notification.success,
atom-notifications atom-notification.warning {
  white-space: normal;
}
atom-notifications atom-notification .content,
atom-notifications atom-notification.error .content,
atom-notifications atom-notification.fatal .content,
atom-notifications atom-notification.info .content,
atom-notifications atom-notification.success .content,
atom-notifications atom-notification.warning .content {
  display: flex;
  flex-flow: column nowrap;
  max-height: min-content;
  background-color: transparent;
  justify-content: flex-start;
}
atom-notifications atom-notification .content .item,
atom-notifications atom-notification.error .content .item,
atom-notifications atom-notification.fatal .content .item,
atom-notifications atom-notification.info .content .item,
atom-notifications atom-notification.success .content .item,
atom-notifications atom-notification.warning .content .item {
  padding: 0.8em;
}
atom-notifications atom-notification .content > *,
atom-notifications atom-notification.error .content > *,
atom-notifications atom-notification.fatal .content > *,
atom-notifications atom-notification.info .content > *,
atom-notifications atom-notification.success .content > *,
atom-notifications atom-notification.warning .content > * {
  background: transparent;
}
atom-notifications atom-notification .content .message,
atom-notifications atom-notification.error .content .message,
atom-notifications atom-notification.fatal .content .message,
atom-notifications atom-notification.info .content .message,
atom-notifications atom-notification.success .content .message,
atom-notifications atom-notification.warning .content .message {
  color: hsla(220, 5%, 66%, 0.9);
  margin: 0;
  display: flex;
  font-size: 1.075vh;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: SFNS Display;
  font-weight: 300;
  padding-top: 1em;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  -webkit-text-stroke: 0.6px hsla(220, 10%, 87%, 0.9);
}
atom-notifications atom-notification .content .message p,
atom-notifications atom-notification.error .content .message p,
atom-notifications atom-notification.fatal .content .message p,
atom-notifications atom-notification.info .content .message p,
atom-notifications atom-notification.success .content .message p,
atom-notifications atom-notification.warning .content .message p {
  display: contents;
}
atom-notifications atom-notification .content .detail,
atom-notifications atom-notification.error .content .detail,
atom-notifications atom-notification.fatal .content .detail,
atom-notifications atom-notification.info .content .detail,
atom-notifications atom-notification.success .content .detail,
atom-notifications atom-notification.warning .content .detail {
  display: contents;
}
atom-notifications atom-notification .content .detail .detail-content,
atom-notifications atom-notification.error .content .detail .detail-content,
atom-notifications atom-notification.fatal .content .detail .detail-content,
atom-notifications atom-notification.info .content .detail .detail-content,
atom-notifications atom-notification.success .content .detail .detail-content,
atom-notifications atom-notification.warning .content .detail .detail-content {
  font-size: 0.9vh !important;
  background-color: hsla(208, 10%, 6%, 0.3) !important;
  max-height: min-content;
  white-space: normal;
  padding: 1em;
  opacity: 0.9;
  transition: 1s ease all;
}
atom-notifications atom-notification .content .meta,
atom-notifications atom-notification.error .content .meta,
atom-notifications atom-notification.fatal .content .meta,
atom-notifications atom-notification.info .content .meta,
atom-notifications atom-notification.success .content .meta,
atom-notifications atom-notification.warning .content .meta,
atom-notifications atom-notification .content .meta *,
atom-notifications atom-notification.error .content .meta *,
atom-notifications atom-notification.fatal .content .meta *,
atom-notifications atom-notification.info .content .meta *,
atom-notifications atom-notification.success .content .meta *,
atom-notifications atom-notification.warning .content .meta * {
  font-family: Inconsolata;
}
atom-notifications atom-notification .content .meta .description,
atom-notifications atom-notification.error .content .meta .description,
atom-notifications atom-notification.fatal .content .meta .description,
atom-notifications atom-notification.info .content .meta .description,
atom-notifications atom-notification.success .content .meta .description,
atom-notifications atom-notification.warning .content .meta .description {
  font-size: 0.9vh;
  font-weight: 100;
  text-transform: lowercase;
  line-height: 1;
  letter-spacing: -0.01em;
}
atom-notifications atom-notification .content .meta .description p,
atom-notifications atom-notification.error .content .meta .description p,
atom-notifications atom-notification.fatal .content .meta .description p,
atom-notifications atom-notification.info .content .meta .description p,
atom-notifications atom-notification.success .content .meta .description p,
atom-notifications atom-notification.warning .content .meta .description p {
  font-size: 0.9vh;
}
atom-notifications atom-notification .content .meta .description ul,
atom-notifications atom-notification.error .content .meta .description ul,
atom-notifications atom-notification.fatal .content .meta .description ul,
atom-notifications atom-notification.info .content .meta .description ul,
atom-notifications atom-notification.success .content .meta .description ul,
atom-notifications atom-notification.warning .content .meta .description ul {
  padding: 0.1em;
}
atom-notifications atom-notification * ul,
atom-notifications atom-notification.error * ul,
atom-notifications atom-notification.fatal * ul,
atom-notifications atom-notification.info * ul,
atom-notifications atom-notification.success * ul,
atom-notifications atom-notification.warning * ul {
  list-style-type: none;
}
atom-notifications atom-notification * ul li::before,
atom-notifications atom-notification.error * ul li::before,
atom-notifications atom-notification.fatal * ul li::before,
atom-notifications atom-notification.info * ul li::before,
atom-notifications atom-notification.success * ul li::before,
atom-notifications atom-notification.warning * ul li::before {
  content: "\f078";
  font-family: "Octicons Regular";
  display: inline-block;
  position: relative;
  top: 0.13em;
  right: 0;
  padding-right: 0.5em;
}
atom-notifications atom-notification strong,
atom-notifications atom-notification.error strong,
atom-notifications atom-notification.fatal strong,
atom-notifications atom-notification.info strong,
atom-notifications atom-notification.success strong,
atom-notifications atom-notification.warning strong {
  font-weight: 100;
  text-shadow: 0 0 0.01px, 0 0 0.005px;
}
atom-notifications atom-notification.icon::before,
atom-notifications atom-notification.error.icon::before,
atom-notifications atom-notification.fatal.icon::before,
atom-notifications atom-notification.info.icon::before,
atom-notifications atom-notification.success.icon::before,
atom-notifications atom-notification.warning.icon::before {
  opacity: 0.5;
}
atom-notifications atom-notification .close,
atom-notifications atom-notification.error .close,
atom-notifications atom-notification.fatal .close,
atom-notifications atom-notification.info .close,
atom-notifications atom-notification.success .close,
atom-notifications atom-notification.warning .close {
  color: white;
}
atom-notifications atom-notification :empty,
atom-notifications atom-notification.error :empty,
atom-notifications atom-notification.fatal :empty,
atom-notifications atom-notification.info :empty,
atom-notifications atom-notification.success :empty,
atom-notifications atom-notification.warning :empty {
  display: none;
}
atom-notifications atom-notification.info .content .detail {
  color: hsla(220, 25%, 42%, 0.75);
}
atom-notifications atom-notification.info .content .meta {
  color: hsl(210, 15%, 75%);
}
atom-notifications atom-notification.info .content .meta .description p,
atom-notifications atom-notification.info .content .meta p {
  color: hsla(220, 25%, 42%, 0.75);
  font-size: 1vh;
  font-weight: 100;
}
atom-notifications atom-notification.success {
  box-shadow: inset 40px 0 40px -38px hsla(175, 58%, 37%, 0.6);
  border: 0.5px solid transparent;
  border-left: none;
}
atom-notifications atom-notification.success .content {
  color: hsla(175, 58%, 37%, 0.6);
}
atom-notifications atom-notification.warning .content {
  color: hsla(330, 40%, 49%, 0.65);
}
atom-notifications atom-notification.error {
  box-shadow: inset 5px 0 5px -4px hsla(340, 80%, 40%, 0.75);
}
atom-notifications atom-notification.error .content {
  color: hsla(345, 40%, 50%, 0.8);
}
atom-notifications atom-notification.error .content .detail .detail-content {
  color: hsla(345, 40%, 50%, 0.8);
}
atom-notifications atom-notification.error code {
  background: hsl(340, 100%, 30%);
  color: hsl(210, 15%, 75%);
}
atom-notifications atom-notification.fatal .content {
  color: hsl(0, 100%, 50%);
}
atom-notifications atom-notification.fatal .content .detail .detail-content {
  color: hsla(353, 70%, 50%, 0.95);
}
atom-notifications atom-notification.fatal .content .detail .stack-toggle {
  margin: 0;
  font-size: 0;
  width: fit-content;
  margin: 0 auto;
  display: block;
}
atom-notifications atom-notification.fatal .content .detail .stack-container {
  background: hsla(0, 0%, 2%, 0.15);
  white-space: pre-line;
  color: hsl(355, 90%, 55%);
  padding: 0 1em;
  margin: 0;
}
atom-notifications atom-notification.fatal .content .detail .stack-container .line {
  padding: 0 1em;
  max-width: 90%;
  margin: 0 auto;
  font-size: 1.25em;
  overflow: hidden;
}
atom-notifications atom-notification.fatal .content .meta {
  color: hsl(210, 15%, 75%);
  font-family: Avenir;
}
atom-notifications atom-notification.fatal .content .meta a {
  color: hsla(347, 70%, 50%, 0.95);
}
atom-notifications atom-notification:not(:hover) .close-all.btn,
atom-notifications atom-notification .close-all.btn:not(:hover),
atom-notifications atom-notification:not(:hover) .close-all.btn::before,
atom-notifications atom-notification .close-all.btn:not(:hover)::before {
  min-width: 50%;
  height: 100%;
  background-color: transparent;
  display: block;
  min-width: 2vw;
  min-height: 2vw;
}
atom-notifications atom-notification .close:empty {
  position: absolute;
  min-width: 100%;
  height: 100%;
  background-color: transparent;
  display: block;
}
atom-notifications atom-notification .close:empty::before {
  content: "";
}
atom-notifications atom-notification .close-all.btn {
  align-items: center;
  color: hsla(220, 4.5%, 50%, 0.9) !important;
  display: flex;
  font-size: 1rem;
  justify-content: flex-end;
  line-height: 1;
  margin: 0;
  min-height: 1em;
  min-width: 1em;
  padding: 2px;
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  bottom: unset !important;
  left: unset !important;
}
atom-notifications atom-notification .close-all.btn:before {
  all: unset;
  content: "close";
  font-family: "Material Icons";
  font-size: 0.9vh;
  display: block;
  align-items: center;
  vertical-align: middle;
  padding-right: 0.5em;
  position: absolute !important;
  right: 0;
  top: 0;
}
atom-notifications atom-notification .close-all.btn:after {
  content: "";
  font-size: 0.9vh;
  position: fixed !important;
  right: 0;
  top: 0;
}
.loading-spinner-large {
  display: block;
  width: 64px;
  height: 64px;
  background-image: url(images/octocat-spinner-128.gif);
  background-repeat: no-repeat;
  background-size: 64px 64px;
}
.loading-spinner-large.inline-block {
  display: inline-block;
}
.loading-spinner-medium {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(images/octocat-spinner-128.gif);
  background-repeat: no-repeat;
  background-size: 48px 48px;
}
.loading-spinner-medium.inline-block {
  display: inline-block;
}
.loading-spinner-small {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(images/octocat-spinner-128.gif);
  background-repeat: no-repeat;
  background-size: 32px 32px;
}
.loading-spinner-small.inline-block {
  display: inline-block;
}
.loading-spinner-tiny {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(images/octocat-spinner-128.gif);
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.loading-spinner-tiny.inline-block {
  display: inline-block;
}
.tooltip .tooltip-inner {
  line-height: 1;
  padding: 0.75em;
  white-space: nowrap;
  max-width: none;
}
.tooltip .keystroke {
  padding: 0.15em 0.4em;
  margin: 0 -0.3em 0 0.25em;
  border-radius: 2px;
  color: hsl(0, 0%, 100%);
  background: hsla(0, 0%, 0%, 0.1) !important;
}
.tooltip {
  all: initial;
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: Avenir, system-ui, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: calc(0.16vh + 0.9vw);
  opacity: 0;
}
.tooltip.in {
  opacity: 0.9;
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.1) !important;
  border-radius: 2px;
  opacity: 0.9;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: hsla(0, 0%, 0%, 0.1) !important;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: hsla(0, 0%, 0%, 0.1) !important;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: hsla(0, 0%, 0%, 0.1) !important;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: hsla(0, 0%, 0%, 0.1) !important;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: hsla(0, 0%, 0%, 0.1) !important;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: hsla(0, 0%, 0%, 0.1) !important;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: hsla(0, 0%, 0%, 0.1) !important;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: hsla(0, 0%, 0%, 0.1) !important;
}
